#top5krd.modal.case
  .modal__header Top5Krd
  .grid.grid--container
    .row
      .col.col--sm-8
        span.modal__label Задача
        .modal__desc Торговая марка переворачивает рекламный бриф. Особенность рекламы последовательно отражает экспериментальный рекламный бриф. Клиентский спрос отталкивает рекламный макет. План размещения довольно хорошо сбалансирован.
      .col.col--sm-2.col--sm-offset-1
        span.modal__label Год
        .modal__desc 2018
  .case__section
    span.modal__label Главная страница
    .case__img
      img(src="./img/top5krd/1.jpg", alt="")
  .case__section
    .grid.grid--container
      span.modal__label Типографика
      .row
        .col.col--sm-6
          img(src="./img/typography/montserrat/Aa.svg", alt="")
        .col.col--sm-6
          .case__typography
            img(src="./img/typography/montserrat/Montserrat.svg", alt="")
          .case__typography
            img(src="./img/typography/montserrat/alphabet.svg", alt="")
  .case__section
    .grid.grid--container
      .row
        .col.col--sm-6
          span.modal__label Цвета
          .colors
            .color(style="background-color: #E93E80")
              .color__name #E93E80
            .color(style="background-color: #F1F2F7")
              .color__name.color__name--gray #F1F2F7
            .color(style="background-color: #f8f8f8")
              .color__name.color__name--gray #f8f8f8
            .color(style="background-color: #ffffff")
              .color__name.color__name--gray #ffffff
        .col.col--sm-6
          span.modal__label Версии
          img(src="./img/adaptive.svg", alt="")
  .case__section
    .grid.grid--container
      span.modal__label Внутренние страницы
      .row
        .col.col--sm-6
          .case__img
            img(src="./img/top5krd/3.jpg", alt="")
          .case__img
            img(src="./img/top5krd/7.jpg", alt="")
        .col.col--sm-6
          .case__img
            img(src="./img/top5krd/2.jpg", alt="")
          .case__img
            img(src="./img/top5krd/6.jpg", alt="")
          .case__img
            img(src="./img/top5krd/4.jpg", alt="")
          .case__img
            img(src="./img/top5krd/9.jpg", alt="")
          .case__img
            img(src="./img/top5krd/8.jpg", alt="")
