#mebelioner.modal.case
  .modal__header Мебелионер
  .grid.grid--container
    .row
      .col.col--sm-8
        span.modal__label Задача
        .modal__desc Торговая марка переворачивает рекламный бриф. Особенность рекламы последовательно отражает экспериментальный рекламный бриф. Клиентский спрос отталкивает рекламный макет. План размещения довольно хорошо сбалансирован.
      .col.col--sm-2.col--sm-offset-1
        span.modal__label Год
        .modal__desc 2018
  .case__section
    span.modal__label Главная страница
    .case__img
      img(src="./img/mebelioner/1.png", alt="")
  .case__section
    .grid.grid--container
      span.modal__label Типографика
      .row
        .col.col--sm-6
          img(src="./img/typography/merriweather/Aa.svg", alt="")
        .col.col--sm-6
          .case__typography
            img(src="./img/typography/merriweather/merriweather.svg", alt="")
          .case__typography
            img(src="./img/typography/merriweather/alphabet.svg", alt="")
  .case__section
    .grid.grid--container
      .row
        .col.col--sm-6
          span.modal__label Цвета
          .colors
            .color(style="background-color: #C9AC8C")
              .color__name #C9AC8C
            .color(style="background-color: #939393")
              .color__name #939393
            .color(style="background-color: #EEEEEE")
              .color__name.color__name--gray #EEEEEE
            .color(style="background-color: #FFFFFF")
              .color__name.color__name--gray #FFFFFF
        .col.col--sm-6
          span.modal__label Версии
          img(src="./img/adaptive.svg", alt="")
  .case__section
    .grid.grid--container
      span.modal__label Внутренние страницы
      .row
        .col.col--sm-6
          .case__img
            img(src="./img/mebelioner/4.png", alt="")
          .case__img
            img(src="./img/mebelioner/3.png", alt="")
        .col.col--sm-6
          .case__img
            img(src="./img/mebelioner/2.png", alt="")
          .case__img
            img(src="./img/mebelioner/5.png", alt="")


