#buhcentr.modal.case
  .modal__header Содействие
  .grid.grid--container
    .row
      .col.col--sm-8
        span.modal__label Задача
        .modal__desc Торговая марка переворачивает рекламный бриф. Особенность рекламы последовательно отражает экспериментальный рекламный бриф. Клиентский спрос отталкивает рекламный макет. План размещения довольно хорошо сбалансирован.
      .col.col--sm-2.col--sm-offset-1
        span.modal__label Год
        .modal__desc 2018
  .case__section
    span.modal__label Главная страница
    .case__img
      img(src="./img/buhcentr/1.jpg", alt="")
  .case__section
    .grid.grid--container
      span.modal__label Типографика
      .row
        .col.col--sm-6
          img(src="./img/typography/panton/Aa.svg", alt="")
        .col.col--sm-6
          .case__typography
            img(src="./img/typography/panton/panton.svg", alt="")
          .case__typography
            img(src="./img/typography/panton/alphabet.svg", alt="")
  .case__section
    .grid.grid--container
      .row
        .col.col--sm-6
          span.modal__label Цвета
          .colors
            .color(style="background-color: #0E87C5")
              .color__name #0E87C5
            .color(style="background-color: #8B95A0")
              .color__name #8B95A0
            .color(style="background-color: #D5DBE3")
              .color__name.color__name--gray #D5DBE3
            .color(style="background-color: #ffffff")
              .color__name.color__name--gray #ffffff
        .col.col--sm-6
          span.modal__label Версии
          img(src="./img/adaptive.svg", alt="")
  .case__section
    .grid.grid--container
      span.modal__label Внутренние страницы
      .row
        .col.col--sm-6
          .case__img
            img(src="./img/buhcentr/5.jpg", alt="")
          .case__img
            img(src="./img/buhcentr/2.jpg", alt="")
          .case__img
            img(src="./img/buhcentr/7.jpg", alt="")
          .case__img
            img(src="./img/buhcentr/8.jpg", alt="")
        .col.col--sm-6
          .case__img
            img(src="./img/buhcentr/4.jpg", alt="")
          .case__img
            img(src="./img/buhcentr/6.jpg", alt="")
          .case__img
            img(src="./img/buhcentr/9.jpg", alt="")
          .case__img
            img(src="./img/buhcentr/10.jpg", alt="")

