extends layout.pug


block content

  .index-container
    .main-container
      .main
        .grid.grid--container
          .row
            .col.col--xl-12.col--sm-6
              .main__text
                p UI/UX дизайнер с 3-х летним опытом работы, а так же большим опытом верстки сайтов.
                p Разрабатываю дизайны корпоративных, персональных сайтов, интернет-магазинов и сервисов. Всегда готов к новым сотрудничествам.
            .col.col--xl-12.col--sm-6
              .main__desc
                p Открыт для фриланса, удаленного сотрудничества и постоянной работы в студии/агентстве. Для связи со мной можете написать мне или позвонить по телефону.
              .me
                .me__photo
                  img(src="./img/ava.png")
                .me__container
                  .me__name Арсений Иванов
                  a(href="tel:+79996392116").me__phone +7 999 639-21-16
              a(href="#callback").btn.btn--primary.modal-open
                span.btn__text Написать мне
                .btn__icon
                  img(src="./img/arrow.svg", alt="").svg
  .works-container
    .works
      a(href="case.top5krd.html").work.modal-case-open
        .work__img(style="background-image: url(./img/top5krd.jpg)")
      a(href="case.tigaz.html").work.modal-case-open
        .work__img(style="background-image: url(./img/tigaz.jpg)")
      a(href="case.buhcentr.html").work.work--big.modal-case-open
        .work__img(style="background-image: url(./img/buhcentr.jpg)")
      .work
        .work__img(style="background-image: url(./img/mirata.jpg)")
      .work
        .work__img(style="background-image: url(./img/taridental.jpg)")
      a(href="case.mebelioner.html").work.work--big.modal-case-open
        .work__img(style="background-image: url(./img/mebelioner.jpg)")
      .work
        .work__img(style="background-image: url(./img/picante.jpg)")
      .work
        .work__img(style="background-image: url(./img/scalo.jpg)")
      .work.work--big
        .work__img(style="background-image: url(./img/paul-mitchell.jpg)")
      .work
        .work__img(style="background-image: url(./img/moezdorovie.jpg)")
      .work
        .work__img(style="background-image: url(./img/megaaliance.jpg)")
    .works__plate

  #callback.modal.modal--callback
    .callback-before-send
      .modal__header Написать мне
      form.form
        .form-control
          input(type="text" name="name" placeholder="Как вас зовут?")
        .form-control
          input(type="tel" name="phone" placeholder="Телефон").phone-mask
        .form-control
          textarea(name="message" placeholder="Ваше сообщение")
        .form__error
          p Для отправки сообщения заполните все поля
        #send-mail.btn.btn--primary
          span.btn__text Отправить
          .btn__icon
            img(src="./img/arrow.svg", alt="").svg
    .callback-success-send
      .modal__header Супер!
      p Я свяжусь с вами в ближайшее время и мы обсудим ближайший план работ. Так же вы можете позвонить мне в любой момент.
      .me
        .me__photo
          img(src="./img/ava.png")
        .me__container
          .me__name Арсений Иванов
          a(href="tel:+79996392116").me__phone +7 999 639-21-16



