.btn__preloader
  circle(3.2rem)
  display inline-block
  border 4px solid rgba(#fff, .1)
  border-bottom-color #fff
  border-radius 50%
  vertical-align center
  // position absolute
  // top 0
  // left 0
  // right 0
  // bottom 0
  // margin auto
  animation spin .75s infinite linear


@keyframes spin
  100%
    transform rotate(360deg)
