// body
//   debug()
// html.mobile-menu-was-open
//   overflow hidden


// @media(max-width 1200px)
//   body
//     &.body--cursor-pointer
//       cursor pointer
//   .grid--container
//     max-width: 96%

@media(max-height 900px)
  body
    &.body--cursor-pointer
      cursor pointer
  .main
    &__desc
      margin-bottom (32 / 900 * 100)vh
  .me
    margin-bottom (32 / 900 * 100)vh