.mfp-content
  position initial
//   display flex
  // justify-content flex-end

.modal
  animation bigFadeUp .5s forwards ease
  background $main + 15%
  box-shadow 0 1rem 2rem rgba($main, .1)
  display none
  // overflow-X hidden
  // margin 10rem auto
  padding 0
  position absolute
  right 0
  top 0
  width 50%
  img
    display block
    max-width 100%
    margin-bottom 8rem
  &__container
    margin 6.4rem 0
    padding 2.4rem 8rem
    text-align center
  &__header
    color #fff
    font-size 6.4rem
    font-weight 700
    margin-bottom 3.2rem
  &__desc
    font-weight 300
    line-height 1.4

.mfp-ready
  .modal
    display block

.mfp-close-btn-in .mfp-close,
.mfp-close-btn-in .mfp-close:active
  // background-color #fff
  border-radius 50%
  color #fff
  font-size 4rem
  opacity 1
  top 1.6rem
  right 52vw

.mfp-close
  circle(6rem)

@keyframes bigFadeUp
  0%
    transform translateX(400px)
  100%
    transform none


@media(max-width 767px)
  .mfp-container
    padding 0
  .modal
    padding 6rem 6%
    right 0
    width 94%
  .mfp-close,
  .mfp-close:active
    font-size 4rem
    opacity 1
    top 1rem
    right -.5rem